*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar{
  overflow: hidden;
  background-color: bisque;
  height: 40px;
}
.navbar a{
    float: right;
    display: block;
    height: 100%;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    color: #ff5076;
    border-radius: 5px;
}
.navbar a:hover{
  background-color: #fabb68;
}
.navbar #icon{
  float: left;
  display: block;
  background-image: url(./img/icon.PNG);
  padding: 5px;
  background-size: cover;
  width: 50px;
  height: 40px;
}
section{
  position: relative;
  text-align: center;
  color: #fff;
}
section  #welcoming{
  display: block;
  width: 100%;
}
section #centerHeading{
  position: absolute;
  display: block;
  top: 40%;
  left: 50%;
  margin: 20px;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
section #centerText{
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
 section button{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  background-color: #313030;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
#photo2{
  display: block;
  float: left;
  width: 50%;
}
#secondSection{
  display: inline-block;
  text-align: center;
  background-color: #292727;
  color: #fff;
}
#secondSection h3{
  padding: 10px;
  font-size: 20px;
}
#secondSection p{
  font-size: 16px;
}
.box{
  width: 32.8%;
  display: inline-block;
  text-align: center;
  line-height: 20px;
}
i{
  padding: 10px;
  font-size: 30px;
}
.box p{
  padding: 10px;
}
#center-box{
  background-color: bisque;
}
footer{
  background-color: gray;
  text-align: center;
  padding: 10px;
  height: 50px;
  font-size: 20px;
}
h2{
  padding-top: 20px;
  margin: 10px;
  font-size: 26px;
}
#form-explaination{
  margin: 10px;
}
.form-group label{
  display: block;
  color: #555;
  margin-left:15px ;
}
.form-group input{
  width: 80%;
  padding: 10px;
  margin: 15px;
  border: 2px #f37070 solid;
  border-radius: 4px;
}
.form-group input:focus {
  border: 2px solid #d88989;
}
button{
  display: block;
  margin: 20px;
  padding: 10px;
  background-color: #f3869d;
}
button:hover{
  cursor: pointer;
  background-color: #db7676;
}
.form-group #input-message{
  border: 2px #f37070 solid;
  border-radius: 4px;
  margin: 15px;
  width: 80%;
}
.about{
  display: inline-block;
  text-align: center;
  background-color: #292727;
  color: #fff;
}
#hotelpicture{
  display: inline-block;
  width: 50%;
  border-radius: 50%;
  padding: 20px;
}
#guests{
  height: 500px;
  background-image: url('./img/test-bg.jpg');
  background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
  text-align: center;
  padding-top: 50px;
}
#guests h3{
  padding: 15px;
  font-size: 24px;
  color: #fff;
}
#guests #person{
  background-color: #ff9999;
  padding: 15px;
  margin: 30px;
  min-height: 100px;
  opacity: 80%;
  border-radius: 4px;
}
#guests #person img{
  display: block;
  float: left;
  width: 80px;
  bottom: 15px;
  top: 10px;
  border-radius: 60%;
}

